html, body {
    height: 100%;
    margin: 0;
    overflow: hidden;
}

.dd {
    background-color: red;
}

.background {
    display: flex;
    height: 100vh; /* Ocupa toda a altura da viewport */
}

.left-side {
    background-color: #407DD8;
    width: 40%; /* Lado esquerdo ocupa 50% da largura */
    height: 100%;
}

.right-side {
    background-color: #f5f5f5;
    width: 60%; /* Lado direito ocupa 50% da largura */
    height: 100%;
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
}

.container {
    width: 100%; /* Ajuste a largura conforme necessário */
    max-width: 500px; /* Define um tamanho máximo para o formulário */
}

.logo {
   display: flex;
   justify-content: center;
   margin-top: 10%;
}

.senai {
    width: 21vw;
}

.titulo {
    color: #f5f5f5;
    justify-content: center;
    display: flex;
    margin-top: 17%;
}

hr {
    width: 50%;
    border: 2px solid;
    color: #f5f5f5;
}

.texto-left {
    color: #f5f5f5;
    font-size: 23px;
    display: flex;
    text-align: center;
    margin: 0 20% 0 20%;
    font-weight: 300;
}

.entrar {
    margin: -54% 0 0 20%;

}

.cadastrar {
    margin: -54% 0 0 -8%;

}

.buttonEntrar {
    background-color: #f5f5f5;
    padding: 15px;
    border: 1px black solid ;
    border-radius: 3rem;
    color: black;
    width: 14rem;
    font-size: 15px;
    transition: transform 0.3s ease;
}

.buttonEntrar:hover {
    cursor: pointer ; 
    transform: scale(1.1);
}

.buttoCadastrar:hover {
    cursor: pointer ; 
    transform: scale(1.1);

}

.buttoCadastrar {
    background-color: #407DD8;
    padding: 15px;
    color: #f5f5f5;
    width: 14rem;
    border-radius: 3rem;
    border: none;
    border: 1px #407DD8 solid ;
    font-size: 15px;
    transition: transform 0.3s ease;
}

