{% extends 'base.html' %}

{% block content %}
{% include 'navbar.html' %}

<style>
    body {
        margin: 0;
        font-family: Arial, sans-serif;
        overflow: hidden;
    }

    #contacts {
        width: 25%;
        height: 85%;
        float: left;
        border-right: 1px solid #ddd;
        height: 100vh;
        box-sizing: border-box;
        overflow-y: auto;
        position: relative;
        left: 25%;
    }

    #messages {
        width: 50%;
        float: right;
        height: 85vh;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        padding: 10px;
        position: relative;
    }

    #messageArea {
        flex: 1;
        overflow-y: auto;
        border: 1px solid #ddd;
        padding: 10px;
        background: #f9f9f9;
        margin-bottom: 10px;
    }

    #messageInput {
        width: calc(100% - 90px);
        box-sizing: border-box;
        padding: 10px;
        border-radius: 15px;
        border: none;
        position: relative;
        top: 25%;
        margin-left: 3%;
    }

    #sendButton {
        width: 40px;
        height: 40px;
        border: none;
        border-radius: 50%;
        background-color: #2870dd;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 20px;
        cursor: pointer;
        transition: background-color 0.3s ease;
        position: relative;
        left: 94%;
        bottom: 25%;
    }


    #sendButton i {
        margin: 0;
    }

    .contact,
.group {
    display: flex;
    padding: 10px;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
    position: relative;
    margin-top: 5%;
}

.contact img,
.group img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.contact-info {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contactName {
    color: #407DD8;
    font-weight: 600;
}

.last-message {
    font-size: 0.9vw; /* Ajuste para garantir que a mensagem não ocupe muito espaço */
    color: #666;
    opacity: 0.7; /* Torna o texto um pouco transparente */
    overflow: hidden; /* Oculta o texto que ultrapassa o container */
    text-overflow: ellipsis; /* Adiciona reticências se o texto for muito longo */
    white-space: nowrap; /* Impede que o texto quebre em várias linhas */
    margin-top: 2px; /* Espaço entre o nome e a última mensagem */
}


    #lastActiveInfo {
        font-size: 0.9rem;
        color: gray;
        margin-bottom: 10px;
    }

    #chatTitle {
        font-size: 1.5rem;
        margin-bottom: 10px;
    }

    /* Estilos para o popup */
    #createGroupPopup {
        display: none;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 400px;
        background: white;
        border: 1px solid #ddd;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
        padding: 20px;
        z-index: 1000;
    }

    #createGroupPopup label {
        display: block;
        margin: 10px 0 5px;
    }

    #createGroupPopup input[type="text"] {
        width: 100%;
        box-sizing: border-box;
    }

    #createGroupPopup input[type="checkbox"] {
        margin-right: 10px;
    }

    #createGroupPopup button {
        margin-top: 10px;
    }

    #overlay {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
        z-index: 999;
    }

    #contextMenu {
        display: none;
        position: fixed;
        /* Usar fixed para posição em relação à viewport */
        background: white;
        border: 1px solid #ddd;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
        z-index: 1000;
        padding: 10px;
    }

    #contextMenu button {
        display: block;
        width: 100%;
        padding: 5px;
        border: none;
        background: transparent;
        cursor: pointer;
    }

    #contextMenu button:hover {
        background-color: #f0f0f0;
    }

    .status-visualizado {
        color: blue;
        /* Cor azul para o ícone */
    }

    .selected-contact {
        background-color: #ebe9e9;
        border-radius: 15px;
        width: 95%;
        /* Cor de fundo azul clara, ajuste conforme necessário */
    }

    .selected-group {
        background-color: #ebe9e9;
        border-radius: 15px;
        width: 95%;
        /* Cor de fundo azul clara, ajuste conforme necessário */
    }


    #createGroupBtn {
        width: 30%;
        height: 10%;
        padding: 2%;
        border-radius: 15px;
        border: 1px solid #407DD8;
        background-color: #407DD8;
        color: #f5f5f5;
        position: relative;
        left: 20%;
        top: -0.3vh;
        font-size: 1vw;
    }

    #createGroupBtn:hover {
        cursor: pointer;
        transform: scale(1.1);
    }

    #ctt-title {
        position: relative;
        left: 16%;
        margin-top: 3%;
    }

    .message {
        display: flex;
        align-items: flex-start;
        margin-bottom: 10px;
    }

    .message-content {
        display: flex;
        align-items: center;
        padding: 10px;
        border-radius: 5px;
        max-width: 70%;
    }

    .message.sent .message-content {
        background: #407DD8;
        margin-left: auto;
    }

    .message.received .message-content {
        background: #ffffff;
        /* Cor de fundo para mensagens recebidas */
        margin-right: auto;
    }

    .message img {
        width: 30px;
        height: 30px;
        border-radius: 50%;
    }

    .message-content img {
        margin-right: 10px;
    }

    .message.sent {
        justify-content: flex-end;
    }

    .message.received {
        justify-content: flex-start;
    }

    .imgPeople {
        border: 1px solid;
    }

     .tamanhoImg {
        width: 50px;
        border-radius: 50px;
    }

    #searchInput {
        width: 90%;
        padding: 2%;
        border-radius: 15px;
        box-sizing: border-box;
        font-size: 18px;
        position: relative;
        left: 5%;
        border: 1px solid #ccc;
        margin-top: 3%;
    }

    .searchGroup {
        position: relative;
        width: 90%;
        margin-top: 3%;
        left: 5%;
        margin-bottom: 3%;
    }

    .searchGroup input {
        padding-left: 15%;
    }
    
    #searchInputGroup:focus {
        outline: none; /* Remove o contorno de foco */
    }
    
    #searchInputGroup {
        width: 100%;
        padding-left: 40px; /* Ajuste o valor conforme necessário */
        box-sizing: border-box;
        font-size: 18px;
        border: none;
        border-bottom: 1px solid #8ba6ce;
    }
    
    #btnSearchGroup {
        position: absolute;
        left: 10px; /* Ajuste conforme necessário para a posição desejada */
        top: 50%;
        transform: translateY(-50%);
        font-size: 18px;
        color: #888;
        pointer-events: none; /* Evita que o ícone interfira no clique do input */
    }
    
    
    
    

    #searchInput:active {
        border: none;
    }

    #searchInput::placeholder {
        color: #969b92;
        border: none;
    }

    #btnSearch {
        color: #969b92;
        position: relative;
        top: 5%;
        right: 10%;
        font-size: 20px;
    }

    .backSend {
        background-color: #a9c1e6;
        border-radius: 15px;
    }

    #iconE {
        color: #407DD8;
        font-size: 25px;
        position: relative;
        right: 9%;
        top: 30%;
    }

    #iconE:hover {
        cursor: pointer;
    }

    #iconA {
        color: #407DD8;
        font-size: 25px;
        position: relative;
        right: 10%;
        top: 30%;
    }

    #iconA:hover {
        cursor: pointer;
    }

    emoji-picker {
        position: absolute;
        bottom: 80px;
        right: 20px;
        z-index: 1100;
        /* Garantir que esteja acima dos outros elementos */
        max-width: 300px;
        /* Limitar a largura para responsividade */
        width: 100%;
        display: none;
        /* Inicialmente escondido */
    }

    #contactList {
        position: relative;
        right: 1%;
    }

    .titleGroup {
        color: #407DD8;
        font-weight: 600;
        display: flex;
        justify-content: center;
    }

    #createGroupButton {
        background-color: #407DD8;
        border-radius: 5px;
        border: none;
        color: #f5f5f5;
        padding: 2.5%;
        position: relative;
        left: 45%;
    }

    #cancelGroupButton {
        background-color: transparent;
        border-radius: 15px;
        border: none;
        color: #ccc;
        padding: 2.5%;
        position: relative;
        left: 40%;
    }

    .rowCreateGroup {
        color: #407DD8;
    }

    .user {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        background-color: #f4f4f4;
        margin-bottom: 10px;
        border-radius: 5px;
    }


    .add-btn {
        background-color: #61d692;
        padding: 6px 12px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        color: white;
        font-weight: bold;
        font-size: 14px;
        display: inline-block;
        text-align: center;
    }

    .added-btn {
        background-color: transparent;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        color: black;
        font-weight: bold;
        font-size: 14px;
        display: inline-block;
        text-align: center;
    }

    #groupName {
        border: none;
        border-bottom: 2px dashed #a9c1e6;
        outline: none;
        width: 70% !important;
        position: relative;
        left: 12%;
        top: -1vh;
        padding-left: 2%;
    }



    #groupName::placeholder {
        position: relative;
        right: 2%;
    }


    #uploadIcon {
        font-size: 3vw;
        margin: 0;
        padding: 0;
        position: relative;
        left: 5%;
    }

    #uploadIcon:hover {
        cursor: pointer;
    }

    #groupContacts {
        height: 230px;
        overflow-y: scroll;
    }

    .timeSmg {
        color: #ccc;
        font-size: 0.6vw;
        position: relative;
        right: 30%;
        top: -50%;
    }

    .modalInfoGroup {
        display: none;
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.4);
    }

    .modal-content {
        background-color: #fff;
        margin: 15% auto;
        padding: 20px;
        border: 1px solid #888;
        width: 80%;
        max-width: 500px;
        overflow-y: scroll;
    }

    .closePopupGroup {
        position: fixed;
        top: 20%;
        right: 32%;
        font-size: 50px;
        cursor: pointer;
        color: #407DD8;
    }

    .closePopupGroup:hover,
    .closePopupGroup:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }

    .member-img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        margin-right: 10px;
        vertical-align: middle;
    }


    /* ##########################################################################################
    ######################################CHAT################################################
    ########################################################################################## */

    #leaveGroupInModalBtn {
        background-color: red;
        border-radius: 10px;
        border: none;
        color: #f5f5f5;
    }

    #groupNameModal {
        color: #407DD8;
        display: flex;
        justify-content: center;
    }

    #groupPhotoModal {
        width: 90px;
        border-radius: 50px;
        position: relative;
        left: 40%;
    }

    #groupMembersModal {
        font-size: 20px;
    }

    @media(min-width: 1300px) and (max-width: 1500px) and (min-height: 598px) and (max-height:900px) {

        #createGroupBtn {
            font-size: 18px;
        }

        #btnSearch {
            position: relative;
            top: 5%;
            right: 10%;
            font-size: 18px;
        }

        #searchInput {
            width: 90%;
            padding: 3%;
            border-radius: 15px;
            box-sizing: border-box;
            font-size: 18px;
            position: relative;
            left: 5%;
            border: 1px solid #ccc;
        }

        #sendButton {
            position: relative;
            left: 92%;
            bottom: 25%;
        }

        .contact,
        .group {
            position: relative;
            margin-top: 5%;
            right: 3%;
        }

        .selected-contact {
            background-color: #ebe9e9;
            border-radius: 15px;
            width: 98%;
        }

        #createGroupBtn {
            font-size: 1.2vw;
            position: relative;
            left: 8%;
        }

        #iconA {
            position: relative;
            right: 12%;
        }

        #iconE {
            position: relative;
            right: 11%;
        }

        .modal-content {
            position: relative;
            left: 3%;
            bottom: 15%;
        }
    }
</style>
</head>


<div id="overlay"></div>

<div id="createGroupPopup">
    <h3 class="titleGroup">Criar Grupo</h3>
    <span id="uploadIconContainer">
        <img id="uploadIcon" src="{{ url_for('static', filename='imgs/images.svg') }}" alt="Upload Icon"
            style="width: 50px; height: 50px;">
    </span>
    <input type="file" id="groupImage" style="display: none;">

    <input id="groupName" class="move-up" type="text" placeholder="Nome do grupo">

    <div class="searchGroup">
        <i id="btnSearchGroup" class="fas fa-search"></i>
        <input id="searchInputGroup" type="text" placeholder="Buscar contatos...">
    </div>
    

    <div id="groupContacts">
        {% for user in users %}
        <div>
            <div class="user">
                {% if user.foto %}
            <img src="{{ url_for('static', filename='uploads/perfil/' + user.foto) }}" class="imgPeople tamanhoImg"
                alt="{{ user.nome }}">
            {% else %}
                <img src="{{ url_for('static', filename='imgs/defaultPeople.png') }}" class="imgPeople tamanhoImg" alt="Foto Padrão">
            {% endif %} 
                <label for="user{{ user.id }}">{{ user.nome }}</label>
                <input type="checkbox" id="user{{ user.id }}" data-user-id="{{ user.id }}" style="display: none;">
                <label for="user{{ user.id }}" class="add-btn"> + Add</label>
                <label for="user{{ user.id }}" class="added-btn" style="display: none;"> ✓ Added</label>
            </div>
        </div>
        {% endfor %}
    </div>

    <div class="rowCreateGroup">
        <hr>
    </div>

    <button id="cancelGroupButton">Cancelar</button>
    <button id="createGroupButton">Criar Grupo</button>
</div>


<div id="contacts">
    <h2 id="ctt-title">Contatos
        <button id="createGroupBtn">Criar grupo</button>
    </h2>
    <div class="search">
        <input id="searchInput" type="text" placeholder="Buscar contatos...">
        <span><i id="btnSearch" class="bi bi-search"></i></span>
    </div>
    <ul id="contactList">
        <!-- Exibindo os usuários -->
        {% for user in users %}
        <li data-user-id="{{ user.id }}" data-user-name="{{ user.nome }}" class="contact">
            {% if user.foto %}
            <img src="{{ url_for('static', filename='uploads/perfil/' + user.foto) }}" class="imgPeople" alt="{{ user.nome }}">
            {% else %}
            <img src="{{ url_for('static', filename='imgs/defaultPeople.png') }}" class="imgPeople" alt="Foto Padrão">
            {% endif %}
            
            <div class="contact-info">
                <!-- Nome do contato -->
                <span class="contactName">{{ user.nome }}</span>
                
                <!-- Última mensagem recebida desse usuário -->
                {% if last_messages.get(user.id) %}
                <div class="last-message">{{ last_messages[user.id] }}</div>
                {% endif %}
            </div>
            
            <div id="lastActiveInfo_{{ user.id }}" class="last-active-info"></div>
        </li>
        {% endfor %}

        <div id="contextMenu">
            <button id="infoBtn">Informações</button>
            <button id="leaveGroupBtn">Sair do Grupo</button>
        </div>

        <!-- Exibindo os grupos -->
        {% for group in groups %}
        <li data-group-id="{{ group.id }}" data-group-name="{{ group.name }}" class="group">
            {% if group.image %}
            <img src="{{ url_for('static', filename='uploads/' + group.image) }}" alt="{{ group.name }}">
            {% else %}
            <img src="{{ url_for('static', filename='imgs/defaultImage.jpg') }}" alt="{{ group.name }}">
            {% endif %}
            
            <div class="contact-info">
                <!-- Nome do grupo -->
                <span class="contactName">{{ group.name }}</span>
                
                <!-- Última mensagem do grupo, se não foi enviada pelo usuário atual -->
                {% if last_group_messages.get(group.id) %}
                <div class="last-message">{{ last_group_messages[group.id] }}</div>
                {% endif %}
            </div>
        </li>
        {% endfor %}
    </ul>
</div>

<div id="messages">
    <h2 id="chatTitle">Selecione um <strong>Contato</strong> para começar a conversar</h2>
    <div id="lastActiveInfo">

    </div>
    <div id="messageArea"></div>

    <div id="filePreview"></div>


    <div class="backSend">
        <input id="messageInput" type="text" placeholder="Digite uma mensagem...">
        <i id="iconA" class="bi bi-paperclip"></i>
        <i id="iconE" class="bi bi-emoji-smile"></i>
        <input type="file" id="fileUpload" style="display: none;" accept="image/*, .gif, .rar, .zip">
        <button id="sendButton" aria-label="Send">
            <i class="fas fa-paper-plane"></i>
        </button>
        <emoji-picker style="display: none;"></emoji-picker>
    </div>

</div>

<div id="imageModal"
    style="display: none; position: fixed; top: 0; left: 0; width: 100%; height: 100%; background: rgba(0,0,0,0.5); justify-content: center; align-items: center; z-index: 1000;">
    <div style="position: relative; max-width: 60%; max-height: 60%; margin: auto; left: 15%; top: 20%;">
        <img id="modalImage" src="" alt="Large Image" style="width: 50%; height: auto; border-radius: 8px;">
        <button id="closeModal"
            style="position: absolute;  right: 46.5%; background: rgba(255,255,255,0.8); border: none; border-radius: 50%; padding: 5px 10px; cursor: pointer; font-size: 16px;">X</button>
    </div>
</div>

<div id="groupInfoModal" class="modalInfoGroup">
    <div class="modal-content">
        <span class="closePopupGroup">&times;</span>
        <h2 id="groupNameModal"></h2>
        <img id="groupPhotoModal" src="" alt="Foto do grupo" width="100">
        <ul id="groupMembersModal"></ul>
        <button id="leaveGroupInModalBtn">Sair do Grupo</button>
    </div>
</div>


<script type="module" src="https://cdn.jsdelivr.net/npm/emoji-picker-element@^1/index.js"></script>
<script>
    $(document).ready(function () {
        const socket = io.connect('http://' + document.domain + ':' + location.port);
        let selectedId = null;
        let selectedName = null;
        const currentUserName = '{{ current_user.nome }}';
        const emojiPicker = document.querySelector('emoji-picker');
        const emojiButton = $('#iconE');
        const currentUserId = "{{ current_user.id }}";
        let chatType = 'user'; // 'user' ou 'group'
        const messageInput = $('#messageInput');
        const fileUpload = $('#fileUpload');
        const filePreview = $('#filePreview');
        const previewImage = $('#previewImage');
        const removeImageButton = $('#removeImage');

        function filterContacts() {
            var searchValue = $('#searchInput').val().toLowerCase();
            $('#contactList .contact').each(function () {
                var contactName = $(this).find('.contactName').text().toLowerCase();
                if (contactName.indexOf(searchValue) > -1) {
                    $(this).show();
                } else {
                    $(this).hide();
                }
            });
        }


        $('#iconA').on('click', function () {
            fileUpload.click();
        });



        fileUpload.on('change', function () {
            const file = this.files[0];
            if (file) {
                const reader = new FileReader();
                reader.onload = function (e) {
                    const fileType = file.type;
                    const fileURL = e.target.result;

                    let previewContent;
                    if (fileType.startsWith('image/') || fileType === 'image/gif') {
                        // Cria HTML para imagens e GIFs
                        previewContent = `
                    <div class="image-preview" style="position: relative; display: inline-block;">
                        <img src="${fileURL}" style="max-width: 200px; max-height: 200px; width: auto; height: auto;">
                        <button class="remove-image" style="position: absolute; top: 0; right: 0; background: red; color: white; border: none; border-radius: 50%; width: 20px; height: 20px; cursor: pointer;">&times;</button>
                    </div>`;
                    } else {
                        // Para outros tipos de arquivos, cria um link de download
                        previewContent = `<a href="${fileURL}" download="${file.name}">Arquivo enviado: ${file.name}</a>`;
                    }

                    // Exibe o preview
                    $('#filePreview').html(previewContent);

                    // Adiciona a funcionalidade para remover a imagem
                    $('.remove-image').on('click', function () {
                        $('#filePreview').empty();
                        fileUpload.val(''); // Limpa o campo de upload
                    });
                };
                reader.readAsDataURL(file);
            }
        });

        emojiButton.on('click', function () {
            if (emojiPicker.style.display === 'none') {
                emojiPicker.style.display = 'block';
            } else {
                emojiPicker.style.display = 'none';
            }
        });

        document.addEventListener('click', function (e) {
            if (!emojiPicker.contains(e.target) && !emojiButton[0].contains(e.target)) {
                emojiPicker.style.display = 'none';
            }
        });

        emojiPicker.addEventListener('emoji-click', (event) => {
            const emoji = event.detail.unicode;
            messageInput.val(messageInput.val() + emoji);
            emojiPicker.style.display = 'none';
        });

        // Evento de digitação na caixa de pesquisa
        $('#searchInput').on('keyup', function () {
            filterContacts();
        });

        // Evento de clique no botão de pesquisa (opcional, mas você pode usá-lo para compatibilidade com botões)
        $('#btnSearch').on('click', function () {
            filterContacts();
        });

        function toggleCreateGroupPopup(show) {
            $('#createGroupPopup').toggle(show);
            $('#overlay').toggle(show);
        }

        $('#createGroupBtn').on('click', function () {
            toggleCreateGroupPopup(true);
        });

        $('#cancelGroupButton').on('click', function () {
            toggleCreateGroupPopup(false);
        });

        $('#createGroupButton').on('click', function () {
            const groupName = $('#groupName').val();
            const selectedUsers = [];
            let groupImage = $('#groupImage')[0].files[0];

            const creatorId = currentUserId; // Substitua isso pelo método real para obter o ID do usuário logado

            $('#groupContacts input[type="checkbox"]:checked').each(function () {
                selectedUsers.push($(this).data('user-id'));
            });

            if (groupName && selectedUsers.length) {
                if (groupImage) {
                    const formData = new FormData();
                    formData.append('image', groupImage);

                    $.ajax({
                        url: '/upload-group-image',
                        type: 'POST',
                        data: formData,
                        processData: false,
                        contentType: false,
                        success: function (response) {
                            const imagePath = response.image_path;

                            socket.emit('create_group', {
                                name: groupName,
                                users: selectedUsers,
                                creator_id: creatorId,
                                image: imagePath
                            });
                            toggleCreateGroupPopup(false);
                        },
                        error: function (error) {
                            console.error('Erro ao enviar a imagem:', error);
                            alert('Erro ao enviar a imagem.');
                        }
                    });
                } else {
                    socket.emit('create_group', {
                        name: groupName,
                        users: selectedUsers,
                        creator_id: creatorId,
                        image: null
                    });
                    toggleCreateGroupPopup(false);
                }
            } else {
                alert('Por favor, insira um nome para o grupo e selecione ao menos um contato.');
            }
        });

        $('#uploadIconContainer').on('click', function () {
            $('#groupImage').click();
        });

        // Evento de mudança no input de arquivo
        $('#groupImage').on('change', function () {
            const file = this.files[0];
            if (file) {
                const reader = new FileReader();
                reader.onload = function (e) {
                    $('#uploadIconContainer').html(`<img id="uploadIcon" src="${e.target.result}" alt="Selected Image" style="width: 50px; height: 50px;; object-fit: cover;">`);
                };
                reader.readAsDataURL(file);
            }
        });

        function resetCreateGroupPopup() {
            $('#groupName').val('');
            $('#groupContacts input[type="checkbox"]').prop('checked', false);
            $('#groupContacts .added-btn').hide();
            $('#groupContacts .add-btn').show();
            $('#groupImage').val('');
            $('#uploadIconContainer').html('<img id="uploadIcon" src="{{ url_for("static", filename="imgs/images.svg") }}" alt="Ícone de upload" style="width: 50px; height: 50px;">');
        }

        $('#cancelGroupButton').on('click', function () {
            resetCreateGroupPopup();
        });



        $(document).on('contextmenu', '.group', function (e) {
            e.preventDefault();
            selectedGroupId = $(this).data('group-id');
            $('#contextMenu').css({
                display: 'block',
                top: e.pageY + 'px',   // Posição em relação à viewport
                left: e.pageX + 'px'   // Posição em relação à viewport
            });
        });

        $(document).on('click', function (e) {
            if (!$(e.target).closest('#contextMenu').length && !$(e.target).closest('.group').length) {
                $('#contextMenu').hide(); // Oculta o menu se o clique não for no menu ou em um grupo
            }
        });

        $('#leaveGroupBtn').on('click', function () {
            if (selectedGroupId !== null) {
                socket.emit('leave_group', { group_id: selectedGroupId });
                $('#contextMenu').hide();
            }
        });

        $('#infoBtn').on('click', function () {
            if (selectedGroupId !== null) {
                // Solicita as informações do grupo ao servidor
                socket.emit('get_group_info', { group_id: selectedGroupId });
                $('#contextMenu').hide(); // Esconde o menu de contexto
            }
        });

        // Recebe as informações do grupo do servidor
        socket.on('group_info', function (groupData) {
            // Preencher o nome e foto do grupo no modal
            $('#groupNameModal').text(groupData.name);
            $('#groupPhotoModal').attr('src', groupData.image ? groupData.image : 'static/imgs/defaultImage.jpg');

            // Limpar e preencher a lista de membros do grupo
            $('#groupMembersModal').empty();
            groupData.members.forEach(function (member) {
                let memberItem = `
                    <li>
                        <img src="${member.foto}" alt="Foto de ${member.name}" class="member-img">
                        ${member.name} (${member.last_seen})
                    </li>`;
                $('#groupMembersModal').append(memberItem);
            });

            // Exibir o modal de informações do grupo
            $('#groupInfoModal').show();
        });


        // Fechar o modal ao clicar no botão de fechar
        $('.close').on('click', function () {
            $('#groupInfoModal').hide();
        });

        // Sair do grupo diretamente pelo modal
        $('#leaveGroupInModalBtn').on('click', function () {
            if (selectedGroupId !== null) {
                socket.emit('leave_group', { group_id: selectedGroupId });
                $('#groupInfoModal').hide();
            }
        });


    // Sair do grupo diretamente pelo modal
    $('#leaveGroupInModalBtn').on('click', function () {
        if (selectedGroupId !== null) {
            socket.emit('leave_group', { group_id: selectedGroupId });
            $('#groupInfoModal').hide();
        }
    });


        

        socket.on('group_left', function (data) {
            const groupId = data.group_id;
            $(`#contactList .group[data-group-id="${groupId}"]`).remove();
        });


        function getCurrentTime() {
            const now = new Date();
            const hours = String(now.getHours()).padStart(2, '0');
            const minutes = String(now.getMinutes()).padStart(2, '0');
            return `${hours}:${minutes}`;
        }

        function updateLastActive(lastActive) {
            $('#lastActiveInfo').text(lastActive);
        }



        // Clique em um contato
        $('#contactList').on('click', '.contact', function () {
            chatType = 'user';
            selectedId = $(this).data('user-id');
            selectedName = $(this).data('user-name');

            $('#chatTitle').text(selectedName);
            $('#lastActiveInfo').show();
            $('#messageArea').html('');
            socket.emit('get_last_active', { user_id: selectedId });
            socket.emit('load_messages', { to: selectedId });
        });

        // Clique em um grupo
        $('#contactList').on('click', '.group', function () {
            chatType = 'group';
            selectedId = $(this).data('group-id');
            selectedName = $(this).data('group-name');

            $('#chatTitle').text(selectedName);
            $('#lastActiveInfo').hide();
            $('#messageArea').html('');
            socket.emit('load_group_messages', { group_id: selectedId });
        });

        $('#sendButton').on('click', function () {
            sendMessage();
        });

        // Enviar mensagem ao pressionar Enter
        $('#messageInput').on('keypress', function (e) {
            if (e.which === 13) {  // 13 é o código da tecla Enter
                sendMessage();
            }
        });

        function sendMessage(content) {
            const messageContent = content || $('#messageInput').val();
            const file = fileUpload[0].files[0];

            let fileData = null;

            if (file) {
                const reader = new FileReader();
                reader.onloadend = function (e) {
                    fileData = {
                        filename: file.name,
                        data: e.target.result.split(',')[1] // Obtém a parte base64 dos dados
                    };
                    sendToServer(messageContent, fileData);
                };
                reader.readAsDataURL(file);
            } else {
                sendToServer(messageContent, null);
            }

            function sendToServer(messageContent, fileData) {
                const messageData = {
                    content: messageContent,
                    to: selectedId,  // ID do grupo para o qual a mensagem está sendo enviada
                    file: fileData   // Dados do arquivo, se houver
                };


                if (chatType === 'user') {
                    socket.emit('send_message', messageData);
                } else if (chatType === 'group') {
                    socket.emit('send_group_message', messageData);
                }

                $('#messageInput').val(''); // Limpa o campo de entrada
                $('#filePreview').empty(); // Limpa a visualização do arquivo
                fileUpload.val(''); // Limpa o campo de upload
            }
        }

        function showImageModal(src) {
            $('#modalImage').attr('src', src);
            $('#imageModal').show();
        }

        // Função para esconder o modal
        function hideImageModal() {
            $('#imageModal').hide();
        }

        // Event listener para mostrar o modal quando uma imagem é clicada
        $(document).on('click', '.message-image', function () {
            const src = $(this).attr('src');
            showImageModal(src);
        });

        // Event listener para fechar o modal quando o botão de fechar é clicado
        $(document).on('click', '#closeModal', function () {
            hideImageModal();
        });

        // Event listener para fechar o modal quando clicar fora da imagem
        $(document).on('click', '#imageModal', function (event) {
            if ($(event.target).is('#imageModal')) {
                hideImageModal();
            }
        });

        socket.on('messages_loaded', function (data) {
            $('#messageArea').empty();
            let imagesLoaded = 0;
            const totalImages = data.messages.filter(msg => msg.file_url && ['.jpg', '.jpeg', '.avif', '.jfif', '.png'].some(ext => msg.file_url.endsWith(ext))).length;

            data.messages.forEach(msg => {
                const isSent = msg.from_name === currentUserName;
                const displayName = isSent ? 'Você' : msg.from_name;
                const messageClass = isSent ? 'sent' : 'received';
                const alignment = isSent ? 'right' : 'left';
                const backgroundColor = isSent ? '#407DD8' : '#a9c1e6';
                const textColor = isSent ? '#fff' : '#000';
                const statusIcon = Array.isArray(msg.viewed_by) && msg.viewed_by.includes(currentUserId) ?
                    '<i class="bi bi-check2-all status-icon" style="color: blue; font-size: 1.2em;"></i>' :
                    '<i class="bi bi-check2-all status-icon" style="font-size: 1.2em;"></i>';

                $('#messageArea').append(`
           <div id="message_${msg.message_id}" class="message ${messageClass}" style="display: flex; align-items: flex-start; margin-bottom: 10px; justify-content: ${alignment};">
    ${!isSent ? `<img src="${msg.from_foto}" alt="${msg.from_name}" style="width: 30px; height: 30px; border-radius: 50%; margin-right: 10px;">` : ''}
    <div class="message-content" style="background: ${backgroundColor}; color: ${textColor}; padding: 0.3%; border-radius: 15px 15px 0 15px; min-width: 80px; max-width: 70%; margin-${alignment === 'right' ? 'left' : 'right'}: 10px; display: flex; align-items: ${msg.content ? 'flex-start' : 'flex-end'};">
        <div style="flex: 1; text-align: ${msg.content ? 'left' : 'right'}; padding-left: 5%;">
            ${msg.content}
            ${msg.file_url ? (['.jpg', '.jpeg', '.avif', '.jfif', '.png'].some(ext => msg.file_url.endsWith(ext))) ?
            `<img src="${msg.file_url}" alt="Image" class="message-image" style="max-width: 300px; max-height: 300px; width: auto; height: auto; display: block; margin-top: 10px; border-radius: 8px; box-shadow: 0 0 5px rgba(0,0,0,0.2); cursor: pointer;" onload="imageLoaded()">` :
            `<a href="${msg.file_url}" download style="color: ${textColor}; text-decoration: underline;">Download ${msg.file_name}</a>` :
            ''}
        </div>

       <div class="time-message" style="display: flex; margin-left: auto; align-items: center;">
            <small class="timeSmg" >${msg.time}</small>
            <span class="timeSmg" id="status_${msg.message_id}">${statusIcon}</span>
        </div>




    </div>
    ${isSent ? `<img src="${msg.from_foto}" alt="${msg.from_name}" style="width: 30px; height: 30px; border-radius: 50%; margin-left: 10px;">` : ''}
</div>



        `);
            });

            // Função para rolar a conversa para baixo após todas as imagens serem carregadas
            function scrollToBottom() {
                $('#messageArea').scrollTop($('#messageArea')[0].scrollHeight);
            }

            // Se houver imagens, aguarde até que todas sejam carregadas antes de rolar para baixo
            if (totalImages > 0) {
                window.imageLoaded = function () {
                    imagesLoaded++;
                    if (imagesLoaded === totalImages) {
                        setTimeout(scrollToBottom, 500);  // Aguarda 0.5 segundos antes de rolar para baixo
                    }
                };
            } else {
                scrollToBottom();  // Caso não haja imagens, rola imediatamente para baixo
            }
        });

        // Atualizar as mensagens em tempo real
        socket.on('message_received', function (data) {
            const isSent = data.from_name === currentUserName;
            const displayName = isSent ? 'Você' : data.from_name;
            const messageClass = isSent ? 'sent' : 'received';
            const messageAlignment = isSent ? 'flex-end' : 'flex-start';
            const backgroundColor = isSent ? '#407DD8' : '#ffffff';
            const textColor = isSent ? '#fff' : '#000';
            const statusIcon = Array.isArray(data.viewed_by) && data.viewed_by.includes(currentUserId) ?
                '<i class="bi bi-check2-all status-icon" style="color: blue; font-size: 1.2em;"></i>' :
                '<i class="bi bi-check2-all status-icon" style="font-size: 1.2em;"></i>';

            $('#messageArea').append(`
      <div id="message_${data.message_id}" class="message ${messageClass}" style="display: flex; align-items: flex-start; margin-bottom: 10px; justify-content: ${messageAlignment};">
    ${!isSent ? `<img src="${data.from_foto}" alt="${data.from_name}" style="width: 30px; height: 30px; border-radius: 50%; margin-right: 10px;">` : ''}
    <div class="message-content" style="background: ${backgroundColor}; color: ${textColor}; padding: 0.3%; border-radius: 15px 15px 0 15px; min-width: 80px; max-width: 70%; margin-${messageAlignment === 'flex-end' ? 'left' : 'right'}: 10px; display: flex; align-items: ${data.content ? 'flex-start' : 'flex-end'};">
        <div style="flex: 1; text-align: ${data.content ? 'left' : 'right'};">
            ${data.content}
            ${data.file_url ? (['.jpg', '.jpeg', '.avif', '.jfif', '.png'].some(ext => data.file_url.endsWith(ext))) ?
            `<img src="${data.file_url}" alt="Image" class="message-image" style="max-width: 300px; max-height: 300px; width: auto; height: auto; display: block; margin-top: 10px; border-radius: 8px; box-shadow: 0 0 5px rgba(0,0,0,0.2); cursor: pointer;" onload="scrollToBottom()">` :
            `<a href="${data.file_url}" download style="color: ${textColor}; text-decoration: underline;">Download ${data.file_name}</a>` :
            ''}
        </div>
        <div class="time-message" style="display: flex; margin-left: auto; align-items: center;">
            <small>${data.time}</small>
            <span id="status_${data.message_id}" style="margin-left: 10px;">${statusIcon}</span>
        </div>
    </div>
    ${isSent ? `<img src="${data.from_foto}" alt="${data.from_name}" style="width: 30px; height: 30px; border-radius: 50%; margin-left: 10px;">` : ''}
</div>

    `);

            // Função para rolar a conversa para baixo
            function scrollToBottom() {
                $('#messageArea').scrollTop($('#messageArea')[0].scrollHeight);
            }

            // Se houver imagens, aguarde até que todas sejam carregadas antes de rolar para baixo
            setTimeout(scrollToBottom, 100);  // Aguarda um breve momento antes de rolar para baixo
        });





        socket.on('group_messages_loaded', function (data) {
            $('#messageArea').empty();
            let imagesLoaded = 0;
            const totalImages = data.messages.filter(msg => msg.file_url && ['.jpg', '.jpeg', '.avif', '.jfif', '.png'].some(ext => msg.file_url.endsWith(ext))).length;

            data.messages.forEach(msg => {
                const isSent = String(msg.sender_id) === String(currentUserId);
                const displayName = isSent ? 'Você' : msg.from_name;
                const messageClass = isSent ? 'sent' : 'received';
                const alignment = isSent ? 'right' : 'left';
                const backgroundColor = isSent ? '#407DD8' : '#a9c1e6';
                const textColor = isSent ? '#fff' : '#000';
                const statusIcon = Array.isArray(msg.viewed_by) && msg.viewed_by.includes(currentUserId) ?
                    '<i class="bi bi-check2-all status-icon" style="color: blue; font-size: 1.2em;"></i>' :
                    '<i class="bi bi-check2-all status-icon" style="font-size: 1.2em;"></i>';

                $('#messageArea').append(`
            <div id="message_${msg.message_id}" class="message ${messageClass}" style="display: flex; align-items: flex-start; margin-bottom: 10px; justify-content: ${alignment};">
                ${!isSent ? `
                    <div style="display: flex; flex-direction: column; align-items: center; margin-right: 10px;">
                        <img src="${msg.from_foto}" alt="${msg.from_name}" style="width: 30px; height: 30px; border-radius: 50%; margin-bottom: 5px;">
                        
                    </div>` : ''}
                <div class="message-content" style="background: ${backgroundColor}; color: ${textColor}; padding: 10px; border-radius: 15px; max-width: 70%; margin-${alignment === 'right' ? 'left' : 'right'}: 10px; display: flex; flex-direction: column;">
                    <small style="margin-bottom: 5px; font-weight: bold;">${!isSent ? msg.from_name : ''}</small>
                    <div style="margin-bottom: 5px;">
                        ${msg.content}
                        ${msg.file_url ? (['.jpg', '.jpeg', '.avif', '.jfif', '.png'].some(ext => msg.file_url.endsWith(ext))) ?
                        `<img src="${msg.file_url}" alt="Image" class="message-image" style="max-width: 300px; max-height: 300px; width: auto; height: auto; display: block; margin-top: 10px; border-radius: 8px; box-shadow: 0 0 5px rgba(0,0,0,0.2); cursor: pointer;" onload="imageLoaded()">` :
                        `<a href="${msg.file_url}" download>Download ${msg.file_name}</a>` :
                        ''}
                    </div>
                    <div class="time-message" style="display: flex; justify-content: space-between; align-items: center;">
                        <small>(${msg.time})</small>
                        <span id="status_${msg.message_id}">${statusIcon}</span>
                    </div>
                </div>
            </div>
        `);
            });

            function scrollToBottom() {
                $('#messageArea').scrollTop($('#messageArea')[0].scrollHeight);
            }

            if (totalImages > 0) {
                window.imageLoaded = function () {
                    imagesLoaded++;
                    if (imagesLoaded === totalImages) {
                        setTimeout(scrollToBottom, 500);
                    }
                };
            } else {
                scrollToBottom();
            }
        });

        socket.on('group_message', function (data) {
            const isSent = String(data.sender_id) === String(currentUserId);
            const displayName = isSent ? 'Você' : data.from_name;
            const messageClass = isSent ? 'sent' : 'received';
            const alignment = isSent ? 'right' : 'left';
            const backgroundColor = isSent ? '#407DD8' : '#a9c1e6';
            const textColor = isSent ? '#fff' : '#000';
            const statusIcon = Array.isArray(data.viewed_by) && data.viewed_by.includes(currentUserId) ?
                '<i class="bi bi-check2-all status-icon" style="color: blue; font-size: 1.2em;"></i>' :
                '<i class="bi bi-check2-all status-icon" style="font-size: 1.2em;"></i>';

            $('#messageArea').append(`
        <div id="message_${data.message_id}" class="message ${messageClass}" style="display: flex; align-items: flex-start; margin-bottom: 10px; justify-content: ${alignment};">
            ${!isSent ? `
                <div style="display: flex; flex-direction: column; align-items: center; margin-right: 10px;">
                    <img src="${data.from_foto}" alt="${data.from_name}" style="width: 30px; height: 30px; border-radius: 50%; margin-bottom: 5px;">
                    <small>${data.from_name}</small>
                </div>` : ''}
            <div class="message-content" style="background: ${backgroundColor}; color: ${textColor}; padding: 10px; border-radius: 15px; max-width: 70%; margin-${alignment === 'right' ? 'left' : 'right'}: 10px; display: flex; flex-direction: column;">
                <small style="margin-bottom: 5px; font-weight: bold;">${!isSent ? data.from_name : ''}</small>
                <div style="margin-bottom: 5px;">
                    ${data.content}
                    ${data.file_url ? (['.jpg', '.jpeg', '.avif', '.jfif', '.png'].some(ext => data.file_url.endsWith(ext))) ?
                    `<img src="${data.file_url}" alt="Image" class="message-image" style="max-width: 300px; max-height: 300px; width: auto; height: auto; display: block; margin-top: 10px; border-radius: 8px; box-shadow: 0 0 5px rgba(0,0,0,0.2); cursor: pointer;">` :
                    `<a href="${data.file_url}" download>Download ${data.file_name}</a>` :
                    ''}
                </div>
                <div class="time-message" style="display: flex; justify-content: space-between; align-items: center;">
                    <small>(${data.timestamp})</small>
                    <span id="status_${data.message_id}">${statusIcon}</span>
                </div>
            </div>
        </div>
    `);

            // Forçar rolagem para o fundo
            function scrollToBottom() {
                $('#messageArea').scrollTop($('#messageArea')[0].scrollHeight);
            }

            // Aguarda um breve momento para garantir que o DOM esteja atualizado
            setTimeout(scrollToBottom, 100);  // Ajuste o tempo se necessário
        });




        socket.on('message_viewed', function (data) {
            const messageId = data.message_id;
            const statusElement = $(`#status_${messageId}`);

            // Atualiza o status da mensagem para 'visualizado'
            statusElement.html('<i class="bi bi-check2-all" style="color: blue; font-size: 1.2em;"></i>'); // Icone para 'Visualizado'
        });


        socket.on('last_active', function (data) {
            const lastActive = data.last_active;
            if (chatType === 'user') {
                updateLastActive(lastActive);
            } else if (chatType === 'group') {
                // Atualize informações de última atividade dos membros do grupo aqui, se necessário
            }

        });

        socket.on('group_created', function (data) {
            $('#contactList').append(`<li data-group-id="${data.group_id}" data-group-name="${data.group_name}" class="group">
            <img src="{{ url_for('static', filename='uploads/group_icon.png') }}" alt="${data.group_name}">
            <span>${data.group_name}</span>
        </li>`);

            // Redirecionar para a chat
            window.location.href = '/chat';
        });


        // Clique em um contato
        $('#contactList').on('click', '.contact', function () {
            // Remove a classe de destaque de todos os contatos e grupos
            $('.contact').removeClass('selected-contact');
            $('.group').removeClass('selected-group');

            // Adiciona a classe de destaque ao contato selecionado
            $(this).addClass('selected-contact');

            chatType = 'user';
            selectedId = $(this).data('user-id');
            selectedName = $(this).data('user-name');

            $('#chatTitle').text(selectedName);
            $('#lastActiveInfo').show();
            $('#messageArea').html('');
            socket.emit('get_last_active', { user_id: selectedId });
            socket.emit('load_messages', { to: selectedId });
        });

        // Clique em um grupo
        $('#contactList').on('click', '.group', function () {
            // Remove a classe de destaque de todos os contatos e grupos
            $('.contact').removeClass('selected-contact');
            $('.group').removeClass('selected-group');

            // Adiciona a classe de destaque ao grupo selecionado
            $(this).addClass('selected-group');

            chatType = 'group';
            selectedId = $(this).data('group-id');
            selectedName = $(this).data('group-name');

            $('#chatTitle').text(selectedName);
            $('#lastActiveInfo').hide();
            $('#messageArea').html('');
            socket.emit('load_group_messages', { group_id: selectedId });
        });


        document.querySelectorAll('input[type="checkbox"]').forEach(checkbox => {
            const addBtn = checkbox.nextElementSibling; // Label "Add"
            const addedBtn = addBtn.nextElementSibling; // Label "Added"

            checkbox.addEventListener('change', function () {
                if (this.checked) {
                    addBtn.style.display = 'none';
                    addedBtn.style.display = 'inline-block';
                } else {
                    addBtn.style.display = 'inline-block';
                    addedBtn.style.display = 'none';
                }
            });
        });

        document.getElementById('searchInputGroup').addEventListener('input', function () {
            let searchQuery = this.value.toLowerCase();
            let users = document.querySelectorAll('#groupContacts .user');
        
            users.forEach(function (user) {
                let userName = user.querySelector('label[for^="user"]').textContent.toLowerCase();
        
                if (userName.includes(searchQuery)) {
                    user.parentElement.style.display = '';
                } else {
                    user.parentElement.style.display = 'none';
                }
            });
        });

    });
</script>

{% endblock %}