{% extends 'base.html' %}

{% block content %}
{% include 'navbar.html' %}

<style>
    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
    }

    .tituloDf {
        display: flex;
        justify-content: center;
        margin-top: 2%;
        margin-right: 9.2%;
        font-size: 40px;
    }

    .txtDf {
        margin-top: 1%;
        margin-left: 29.5%;
        width: 70%;
        font-size: 20px;
        color: #0000008f;
    }

    .container {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
        justify-content: flex-start;
        width: 70vw;
        margin-left: 28.4vw;
        box-sizing: border-box;
        max-height: 80vh;
        gap: 4%;
        margin-bottom: 8%;
    }

    .box {
        width: 20vw;
        height: 40vh;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #fff;
        border: 1px solid #ddd;
        border-radius: 15px;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
        margin-top: 4%;
        margin-left: 0;
    }

    .group {
        width: 100%;
        height: 100%;
        color: white;
        position: relative;
    }

    .rectangle,
    .div {
        position: absolute;
        width: 100%;
        left: 0;
        border-radius: 15px;
    }

    .rectangle {
        background-color: #3f7cd7;
        height: 100%;
        box-shadow: 0px 7px 4px #00000040;
    }

    .div {
        height: 124px;
        background-color: #d9d9d9;
        border-radius: 15px 15px 0 0;
        top: 0;
    }

    .botaoDF {
        margin-left: 78.1%;
        top: 15%;
        background-color: #407DD8;
        border-radius: 15px;
        width: 17%;
        padding: 0.3%;
        position: absolute;
        display: flex;
        justify-content: center;
        gap: 10px;
    }

    .botaoDF a {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: white;
    }

    .botaoDF:hover {
        cursor: pointer;
    }

    .iconDF {
        position: relative;
        left: -10px;
        font-size: 24px;
        margin-right: 8px;
    }

    .txt-df {
        position: relative;
        font-size: 22px;
        right: 10px;
    
    }

    .text-wrapper {
        position: absolute;
        width: 100%;
        color: #fff;
        font-family: "Poppins-Regular", Helvetica;
        text-align: center;
        bottom: 35%;
        font-size: 30px;
        text-transform:capitalize;
    }

    .total-de-arm-rios {
        width: 90%;
        display: flex;
        justify-content: center;
        position: absolute;
        color: #fff;
        font-family: "Poppins-Regular", Helvetica;
        text-align: center;
        bottom: 5%;
        font-size: 20px;
        padding: 5%;
        background-color: #02247b77;
        align-items: center;
        border-radius: 15px;
        gap: 5%;
        cursor: pointer;
        box-sizing: border-box;
        left: 5%;
    }

    .kobi {
        display: flex;
        justify-content: center;
    }

    #teste {
        display: flex;
        justify-content: center;
    }

    .txtInfo {
        font-size: 24px;
        position: relative;
        right: 4%;
    }

    .iconInfo {
        font-size: 24px;
        position: relative;
        right: 22%;
    }

    .image {
        width: 100%;
        height: 45%;
        object-fit: cover;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        position: absolute;
    }

    .containerCF {
        display: none;
        position: fixed;
        top: 60%;
        left: 62%;
        transform: translate(-50%, -50%);
        width: 60vw;
        height: auto; /* Ajusta a altura conforme o conteúdo */
        background-color: #f5f5f5;
        border: 2px solid black;
        border-radius: 15px;
        padding: 20px;
        z-index: 1001;
        box-sizing: border-box;
    }
    
    .content {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    .afContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 30%;
        margin-right: 10px;
    }

    .formCF {
        display: flex;
        flex-wrap: wrap;
        gap: 2%;
        justify-content: space-between;
        width: 65%;
    }

    .tituloCF {
        display: flex;
        justify-content: center;
        text-align: center;
        color: #407DD8;
        width: 100%;
        position: relative;
        font-weight: bold;
    }

    .buttonCF {
        width: 100%;
        padding: 10px;
        background-color: #407DD8;
        border-radius: 5px;
        color: white;
        text-align: center;
        margin-top: 15px;
        cursor: pointer;
        border: none;
    }

    .formCF>div {
        width: 48%;
    }

    .formCF textarea {
        width: 100%;
        padding: 10px;
        margin-top: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        box-sizing: border-box;
    }

    .buttonDIV {
        display: flex;
        justify-content: center;
        margin-top: 20px;
        width: 100%;
        position: relative;
        right: 30%;
        margin-bottom: 2%;
    }

    .buttonCF button {
        background-color: #407DD8;
        border-radius: 15px;
        color: white;
        cursor: pointer;
        border: none;
        font-size: 18px;
        text-align: center;
        width: auto;
        min-width: 200px;
        position: relative;
        right: 40%;
    }

    .closePopup {
        right: 4%;
        bottom: 80%;
        position: absolute;
        font-size: 50px;
        cursor: pointer;
        color: #407DD8;
    }

    .closePopupInfo {
        right: 3%;
        bottom: 87%;
        position: absolute;
        font-size: 50px;
        cursor: pointer;
        color: #407DD8;
    }

    .corCF {
        color: #407DD8;
        margin-top: 4%;
        font-weight: bold;
    }

    .corCF2 {
        color: #407DD8;
        margin-top: 1.5%;
        font-weight: bold;
    }

    .addFotoCF {
        width: 40%;
        margin-top: 10px;
        font-size: 1vw;
        margin-right: 5%;
    }

    .addImg {
        position: relative;
        left: -51%;
        font-size: 1vw;
        width: 40%;
        display: inline-block;
        border: none;
        bottom: 20%;

    }

    .overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 1000;
        display: none;

    }

    .containerInfo {
        width: 60%;
        height: 65%;
        background-color: #f5f5f5;
        border: 1px solid black;
        position: fixed;
        top: 40%;
        left: 62%;
        transform: translate(-50%, -20%);
        z-index: 1002;
        border-radius: 15px;
        display: none;
    }

    .campo {
        border: 1px solid #8E8080;
        border-radius: 15px;
        padding: 10px;
        margin-bottom: 10px;
        font-size: 16px;
        width: 90%;
        margin-top: 2%;
        color: #407DD8;
        position: relative;
        left: 5%;
    }

    .imgInfo {
        width: 20%;
        border-radius: 15px;
    }

    .campoImg {
        border: 1px solid #8E8080;
        border-radius: 15px;
        margin-bottom: 10px;
        width: 20%;
        height: 30%;
        margin-top: 2%;
        color: #407DD8;
        position: relative;
        left: 40%;
        overflow: hidden; /* Garante que a imagem não ultrapasse os limites */
    }

    #fotoFerramenta {
        position: absolute; /* Permite posicionar a imagem dentro do contêiner */
        top: 50%; /* Posiciona a imagem na metade do contêiner verticalmente */
        left: 50%; /* Posiciona a imagem na metade do contêiner horizontalmente */
        transform: translate(-50%, -50%); /* Ajusta a posição para centralizar a imagem */
        max-width: calc(100% - 20px); /* Ajusta a largura máxima da imagem, considerando a margem */
        max-height: calc(100% - 20px); /* Ajusta a altura máxima da imagem, considerando a margem */
        object-fit: contain; /* Mantém a proporção da imagem dentro do contêiner */
        padding: 10px; /* Adiciona espaço interno ao redor da imagem */
        box-sizing: border-box; /* Inclui o padding no cálculo da largura e altura */
    }
    
    

    .tituloInfo {
        display: flex;
        justify-content: center;
        color: #407DD8;
        font-weight: 600;
        font-size: 3vw;
        text-transform: uppercase;
    }
    
    #calenderDate {
        position: relative;
        left: 90%;
        bottom: 17%;
        font-size: 20px;
    }

    .barraLateral {
        width: 21.344rem;
    }

    @media(min-width: 1300px) and (max-width: 1500px) and (min-height: 598px) and (max-height: 900px) {

        .tituloDf {
            text-align: right;
            margin: 2% 1% 0 5%;
        }

        .txt-df {
            font-size: 18px;
        }

        .iconDF {
            font-size: 18px;
            left: 1.2%;
        }

        .tituloCF {
            display: flex;
            justify-content: center;
            text-align: center;
            color: #407DD8;
            width: 50%;
            position: relative;
            margin-top: 1%;
        }

        .formCF {
            display: flex;
            flex-wrap: wrap;
            gap: 2%;
            justify-content: space-between;
            width: 70%;
            margin-bottom: 1%;
        }

        .containerCF {
            position: fixed;
            display: none;
            flex-wrap: wrap;
            gap: 4%;
            justify-content: center;
            width: 60vw;
            top: 55%;
        }

        .addFotoCF {
            margin-top: 20%;
        }

        .addImg {
            position: relative;
            margin-left: 6%;
            bottom: 30%;
        }

        .total-de-arm-rios {
            width: 90%;
            display: flex;
            justify-content: center;
        }

        #teste {
            display: flex;
            justify-content: center;
        }

        .botaoDF {
            margin-top: 1%;
        }

        .container {
            margin-left: 28vw;
            margin-bottom: 10%;
        }

        .box {
            width: 19.8vw;
            height: 43vh;
        }

        .containerInfo {
            width: 60%;
            height: 79%;
            background-color: #f5f5f5;
            border: 1px solid black;
            position: absolute;
            top: 30%;
            left: 62%;
            transform: translate(-50%, -20%);
            z-index: 1002;
            border-radius: 15px;
            display: none;
        }

        .text-wrapper {
            font-size: 24px;
        }

        .iconInfo {
            font-size: 24px;
            position: relative;
            right: 8%;
        } 

        .campoImg {
            width: 25%;
            height: 32%;
            padding: 1%; /* Adiciona um pouco de espaço dentro do contêiner */
            box-sizing: border-box; /* Inclui padding e border no tamanho total do contêiner */
            overflow: hidden; /* Garante que a imagem não ultrapasse os limites do contêiner */
        }

        #fotoFerramenta {
            width: 100%;
            height: auto;
            object-fit: cover;
            margin: auto; /* Centraliza a imagem horizontalmente */
            display: block; /* Remove o espaço extra embaixo da imagem */
        }

    }
</style>

<h1 class="tituloDf">Ferramentas necessitando suporte</h1>
<p class="txtDf">Aqui você consegue pedir um suporte ou ver algum para as ferramentas.</p>

<a href="javascript:void(0)" id="openPopup">
    <div class="botaoDF">
        <span class="iconDF"><i class="bi bi-plus-circle"></i></span>
        <span class="txt-df">Adicionar Ferramentas</span>
    </div>
</a>


{% if ferramentas %}
<div class="container">
    {% for ferramenta in ferramentas %}
    <div class="box">
        <div class="group">
            <div class="rectangle"></div>
            <div class="div"></div>
            <img class="image"
                src="{{ url_for('uploaded_file', filename=ferramenta.foto_ferramenta_sup) if ferramenta.foto_ferramenta_sup else url_for('static', filename='imgs/defaultImage.jpg') }}" />
            <div class="text-wrapper">{{ ferramenta.nome_ferramenta_sup }}</div>
            <div id="teste">
                <a class="kobi" href="javascript:void(0)" data-id="{{ ferramenta.id_ferramentas_sup }}"
                    data-nome="{{ ferramenta.nome_ferramenta_sup }}"
                    data-defeito="{{ ferramenta.defeito_ferramenta_sup }}"
                    data-sala="{{ ferramenta.sala_ferramenta_sup }}" data-data="{{ ferramenta.data_ocorrido_sup }}"
                    data-descricao="{{ ferramenta.ocorrido_ferramenta_sup }}"
                    data-foto="{{ ferramenta.foto_ferramenta_sup }}"
                    onclick="showPopup('{{ ferramenta.id_ferramentas_sup }}')">

                    <div class="total-de-arm-rios">
                        <span class="iconInfo"><i class="bi bi-info-circle"></i></span>
                        <span class="txtInfo">Informações</span>
                    </div>

                </a>
            </div>
        </div>
    </div>


    {% endfor %}
</div>
{% else %}
<p>Nenhuma ferramenta encontrada.</p>
{% endif %}

<div class="overlay" id="overlay"></div>


<div class="containerCF" id="popupCF">
    <h1 class="tituloCF">Cadastrar Suporte</h1>
    <span class="closePopup" id="closePopup">&times;</span>

    <div class="content">
        <div class="afContainer">
            <img class="addFotoCF" src="{{ url_for('static', filename='imgs/addFoto.png')}}" alt="">
        </div>

        <form action="" method="POST" class="formCF" enctype="multipart/form-data">
            {{form.csrf_token}}

            <div>
                {{form.nome_ferramenta_sup.label(class="corCF", style="margin-bottom: 10px; display:block;")}}
                {{form.nome_ferramenta_sup(class="form-control", placeholder='Digite o nome da ferramenta')}}

                {{form.defeito_ferramenta_sup.label(class="corCF", style="margin-bottom: 10px; display:block;")}}
                {{form.defeito_ferramenta_sup(class="form-control", placeholder='Digite o defeito')}}
            </div>

            <div>
                {{form.sala_ferramenta_sup.label(class="corCF", style="margin-bottom: 10px; display:block;")}}
                {{form.sala_ferramenta_sup(class="form-control", placeholder='Digite a sala')}}

                {{form.data_ocorrido_sup.label(class="corCF", style="margin-bottom: 10px; display:block;")}}
                {{ form.data_ocorrido_sup(class="form-control", id="data_ocorrido", placeholder='Data do ocorrido')}}
            </div>

            <div style="width: 100%;">
                {{form.ocorrido_ferramenta_sup.label(class="corCF2", style="margin-bottom: 10px; display:block; width:
                100%;")}}
                {{form.ocorrido_ferramenta_sup(class="form-control", style="width: 100%; position: relative; top: 4%;",
                placeholder='Descreva o ocorrido')}}
            </div>

            {{ form.foto_ferramenta_sup(class="addImg", style="display: block; position: relative;") }}

            <div class="buttonDIV">
                {{form.btnSubmit(class="buttonCF")}}
            </div>
        </form>
    </div>
</div>



<div id="infoPopup" class="containerInfo">

    <div class="contentInfo">

        <span class="closePopupInfo" id="closePopup" onclick="closePopup3()">&times;</span>

        <div class="tituloInfo" id="nomeFerramenta"></div>

        <div class="campo" id="descricaoOcorrido"></div>

        <div class="campo" id="defeitoFerramenta"></div>

        <div class="campo" id="salaFerramenta">
        </div>

        <div class="campo" id="dataOcorrido">
        </div>

        
        </div>

        <div class="campoImg">
            <img id="fotoFerramenta" src="" alt="Imagem da ferramenta" style="max-width: 100%; height: auto;">
        </div>

    </div>

</div>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
<script src="https://cdn.jsdelivr.net/npm/flatpickr/dist/l10n/pt.js"></script>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const openPopupBtn = document.getElementById('openPopup');
        const closePopupBtn = document.getElementById('closePopup');
        const popup = document.getElementById('popupCF');
        const overlay = document.getElementById('overlay');
        const containerInfo = document.querySelector('#infoPopup .contentInfo');
        const popupInfo = document.getElementById('infoPopup');




        // Função para abrir o popup e o overlay
        function openPopup() {
            popup.style.display = 'block';
            overlay.style.display = 'block';
        }




        // Função para fechar o popup e o overlay
        function closePopup() {
            popup.style.display = 'none';
            overlay.style.display = 'none';
        }

        overlay.addEventListener('click', function (event) {
            // Verifica se o clique foi fora do conteúdo do popupInfo
            if (!containerInfo.contains(event.target)) {
                closePopup3(); // Oculta o popup e o overlay
            }
        });


        // Abre o popup ao clicar no botão "Adicionar Salas"
        openPopupBtn.addEventListener('click', function (event) {
            event.preventDefault(); // Evita que o link redirecione
            openPopup(); // Exibe o popup e o overlay
        });




        // Fecha o popup ao clicar no botão "×"
        closePopupBtn.addEventListener('click', function () {
            closePopup(); // Oculta o popup e o overlay
        });




        // Fecha o popup ao clicar fora do conteúdo
        overlay.addEventListener('click', function () {
            closePopup(); // Oculta o popup e o overlay
        });

        flatpickr("#data_ocorrido", {
            dateFormat: "d/m/Y", // Formato desejado para exibição
            locale: 'pt',       // Locale para português
            disableMobile: true,
            onChange: function (selectedDates, dateStr, instance) {
                // Atualiza o valor do campo do formulário com a data selecionada
                let formattedDate = instance.formatDate(selectedDates[0], "d/m/Y");
                document.getElementById('data_ocorrido').value = formattedDate;
            }
        });
    });

    function showPopup(ferramentaId) {
        console.log('ID da ferramenta:', ferramentaId); // Verifique o ID

        // Encontra o elemento <a> correspondente ao ID da ferramenta
        const ferramenta = document.querySelector(`a[data-id="${ferramentaId}"]`);

        if (ferramenta) {
            // Verifique se os dados estão corretos
            console.log('Dados da ferramenta:', {
                nome: ferramenta.dataset.nome,
                defeito: ferramenta.dataset.defeito,
                sala: ferramenta.dataset.sala,
                data: ferramenta.dataset.data,
                descricao: ferramenta.dataset.descricao,
                foto: ferramenta.dataset.foto
            });

            // Atualiza o conteúdo do popup com os dados da ferramenta
            document.getElementById('nomeFerramenta').innerText = ferramenta.dataset.nome || 'Não disponível';
            document.getElementById('defeitoFerramenta').innerHTML = "<strong>Defeito:</strong> " + (ferramenta.dataset.defeito || 'Não disponível');
            document.getElementById('salaFerramenta').innerHTML = "<strong>Sala: </strong>" + (ferramenta.dataset.sala || 'Não disponível');
            document.getElementById('dataOcorrido').innerHTML = "<strong>Data do Ocorrido: </strong>" + (ferramenta.dataset.data || 'Não disponível');
            document.getElementById('descricaoOcorrido').innerHTML = "<strong>Descrição: </strong>" + (ferramenta.dataset.descricao || 'Não disponível');

            // Define a imagem com base na disponibilidade
            const fotoFerramenta = document.getElementById('fotoFerramenta');
            if (ferramenta.dataset.foto && ferramenta.dataset.foto !== 'None') {
                fotoFerramenta.src = `/uploads/${ferramenta.dataset.foto}`;
            } else {
                fotoFerramenta.src = `/static/imgs/bannerHome.png`;
            }

            // Mostra o popup e o overlay
            document.querySelector('.containerInfo').style.display = 'block';
            document.getElementById('overlay').style.display = 'block';
        } else {
            console.error('Elemento com o ID fornecido não encontrado.');
        }
    }

    function closePopup3() {
        document.getElementById('infoPopup').style.display = 'none';
        document.getElementById('overlay').style.display = 'none';
    }


</script>


{% endblock %}