{% extends 'base.html' %}

{% block content %}
{% include 'navbar.html' %}

<style>
    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
    }

    .tituloDf {
        display: flex;
        justify-content: center;
        margin-top: 2%;
        margin-right: 9.2%;
        font-size: 40px;
    }

    .txtDf {
        margin-top: 1%;
        margin-left: 29.1%;
        width: 70%;
        font-size: 20px;
        color: #0000008f;
    }

    .container {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
        justify-content: flex-start;
        width: 70vw;
        margin-left: 30vw;
        box-sizing: border-box;
        max-height: 80vh;
        overflow-y: auto;
    }

    .box {
        width: 250px;
        height: 280px;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #fff;
        border: 1px solid #ddd;
        border-radius: 15px;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
        margin-top: 4%;
        margin-left: 0;
    }

    .group {
        width: 100%;
        height: 100%;
        color: white;
        position: relative;
    }

    .rectangle,
    .div {
        position: absolute;
        width: 100%;
        left: 0;
        border-radius: 15px;
    }

    .rectangle {
        background-color: #3f7cd7;
        height: 100%;
        box-shadow: 0px 7px 4px #00000040;
    }

    .div {
        height: 124px;
        background-color: #d9d9d9;
        border-radius: 15px 15px 0 0;
        top: 0;
    }

    .botaoDF {
        margin-left: 78.1%;
        top: 13%;
        background-color: #407DD8;
        border-radius: 15px;
        width: 17%;
        padding: 0.3%;
        position: absolute;
        display: flex;
        justify-content: center;
        gap: 10px;
    }

    .botaoDF a {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: white;
    }

    .botaoDF:hover {
        cursor: pointer;
    }

    .iconDF {
        position: relative;
        left: -10px;
        font-size: 24px;
        margin-right: 8px;
    }

    .txt-df {
        position: relative;
        font-size: 22px;
        right: 10px;
    }

    .text-wrapper {
        position: absolute;
        width: 100%;
        color: #fff;
        font-family: "Poppins-Regular", Helvetica;
        text-align: center;
        top: 138px;
        font-size: 24px;
    }

    .total-de-arm-rios {
        position: absolute;
        width: 100%;
        color: #fff;
        font-family: "Poppins-Regular", Helvetica;
        text-align: center;
        top: 199px;
        font-size: 20px;
        height: 51px;
        padding: 5%;
        background-color: #02247b77;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 15px;
        gap: 5%;
        cursor: pointer;
        box-sizing: border-box;
    }

    .txtInfo {
        font-size: 18px;
    }

    .iconInfo {
        font-size: 18px;
    }

    .image {
        width: 100%;
        height: 132px;
        object-fit: cover;
        border-radius: 0 0 15px 15px;
        position: absolute;
    }

    .containerCF {
        display: none;
        flex-direction: column;
        align-items: center;
        width: 60vw;
        margin-left: 32.3vw;
        box-sizing: border-box;
        border: 2px solid black;
        background-color: #f5f5f5;
        border-radius: 15px;
        height: max-content;
        padding: 20px;
        z-index: 1001;
        position: relative;
    }

    .content {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    .afContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 30%;
        margin-right: 10px;
    }

    .formCF {
        display: flex;
        flex-wrap: wrap;
        gap: 2%;
        justify-content: space-between;
        width: 65%;
    }

    .tituloCF {
        display: flex;
        justify-content: center;
        text-align: center;
        color: #407DD8;
        width: 100%;
        position: relative;
    }

    .buttonCF {
        width: 100%;
        padding: 10px;
        background-color: #407DD8;
        border-radius: 5px;
        color: white;
        text-align: center;
        margin-top: 15px;
        cursor: pointer;
        border: none;
    }

    .formCF > div {
        width: 48%;
    }

    .formCF textarea {
        width: 100%;
        padding: 10px;
        margin-top: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        box-sizing: border-box;
    }

    .buttonDIV {
        display: flex;
        justify-content: center;
        margin-top: 20px;
        width: 100%;
        position: relative;
        right: 30%;
        margin-bottom: 2%;
    }

    .buttonCF button {
        background-color: #407DD8;
        border-radius: 15px;
        color: white;
        cursor: pointer;
        border: none;
        font-size: 18px;
        text-align: center;
        width: auto;
        min-width: 200px;
        position: relative;
        right: 40%;
    }

    .closePopup {
        right: 4%;
        bottom: 80%;
        position: absolute;
        font-size: 50px;
        cursor: pointer;
        color: #407DD8;
    }

    .corCF {
        color: #407DD8;
        margin-top: 4%;
    }

    .corCF2 {
        color: #407DD8;
        margin-top: 1.5%;
    }

    .addFotoCF {
        width: 40%;
        margin-top: 10px;
        font-size: 1vw;
        margin-right: 5%;
    }

    .addImg {
        position: relative;
        left: -51%;
        font-size: 1vw;
        width: 40%;
        display: inline-block;
        border: none;
        bottom: 20%;

    }

    .overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.5); /* Cor preta com opacidade */
        z-index: 1000; /* Abaixo do popup */
        display: none; /* Inicialmente oculto */
    }

    @media(min-width: 1300px) and (max-width: 1500px) and (min-height: 598px) and (max-height: 900px) {

        .tituloDf {
            text-align: right;
            margin: 2% 4.5% 0 5%;
        }

        .txt-df {
            font-size: 18px;
        }

        .iconDF {
            font-size: 18px;
        }

        .tituloCF {
            display: flex;
            justify-content: center;
            text-align: center;
            color: #407DD8;
            width: 50%;
            position: relative;
            margin-top: 1%;
        }

        .formCF {
            display: flex;
            flex-wrap: wrap;
            gap: 2%;
            justify-content: space-between;
            width: 70%;
            margin-bottom: 1%;
        }

        .containerCF {
            display: block;
            flex-wrap: wrap;
            gap: 4%;
            justify-content: center;
            align-items: center;
            width: 60vw;
            margin-left: 32.5vw;
            margin-bottom: 4%;
        }
    }
</style>

<h1 class="tituloDf">Ferramentas necessitando suporte</h1>
<p class="txtDf">Aqui você consegue pedir um suporte ou ver algum para as ferramentas.</p>

<div class="botaoDF">
    <a href="javascript:void(0)" id="openPopup">
        <span class="iconDF"><i class="bi bi-plus-circle"></i></span>
        <span class="txt-df">Adicionar Ferramentas</span>
    </a>
</div>

{% if ferramentas %}
<div class="container">
    {% for ferramenta in ferramentas %}
    <div class="box">
        <div class="group">
            <div class="rectangle"></div>
            <div class="div"></div>
            <img class="image" src="{{ url_for('uploaded_file', filename=ferramenta.foto_ferramenta_sup) if ferramenta.foto_ferramenta_sup else url_for('static', filename='imgs/bannerHome.png') }}" />
            <div class="text-wrapper">{{ ferramenta.nome_ferramenta_sup }}</div>
            <div class="total-de-arm-rios">
                <a href="{{url_for('home')}}">
                    <span class="iconInfo"><i class="bi bi-info-circle"></i></span>
                    <span class="txtInfo">Informações</span>
                </a>
            </div>
        </div>
    </div>


    {% endfor %}
</div>
{% else %}
<p>Nenhuma ferramenta encontrada.</p>
{% endif %}

<div class="overlay" id="overlay"></div>


<div class="containerCF" id="popupCF">
    <h1 class="tituloCF">Cadastrar Suporte</h1>
    <span class="closePopup" id="closePopup">&times;</span>

    <div class="content">
        <div class="afContainer">
            <img class="addFotoCF" src="{{ url_for('static', filename='imgs/addFoto.png')}}" alt="">
        </div>

        <form action="" method="POST" class="formCF" enctype="multipart/form-data">
            {{form.csrf_token}}

            <div>
                {{form.nome_ferramenta_sup.label(class="corCF", style="margin-bottom: 10px; display:block;")}}
                {{form.nome_ferramenta_sup(class="form-control", placeholder='Digite o nome da ferramenta')}}

                {{form.defeito_ferramenta_sup.label(class="corCF", style="margin-bottom: 10px; display:block;")}}
                {{form.defeito_ferramenta_sup(class="form-control", placeholder='Digite o defeito')}}
            </div>
            
            <div>
                {{form.sala_ferramenta_sup.label(class="corCF", style="margin-bottom: 10px; display:block;")}}
                {{form.sala_ferramenta_sup(class="form-control", placeholder='Digite a sala')}}

                {{form.data_ocorrido_sup.label(class="corCF", style="margin-bottom: 10px; display:block;")}}
                {{form.data_ocorrido_sup(class="form-control", placeholder='Data do ocorrido')}}
            </div>

            <div style="width: 100%;">
                {{form.ocorrido_ferramenta_sup.label(class="corCF2", style="margin-bottom: 10px; display:block; width: 100%;")}}
                {{form.ocorrido_ferramenta_sup(class="form-control", style="width: 100%; position: relative; top: 4%;", placeholder='Descreva o ocorrido')}}
            </div>  

            {{ form.foto_ferramenta_sup(class="addImg", style="display: block; position: relative;") }}

            <div class="buttonDIV">
                {{form.btnSubmit(class="buttonCF")}}
            </div>
        </form>
    </div>
</div>


<script>
    document.addEventListener('DOMContentLoaded', function () {
        const openPopupBtn = document.getElementById('openPopup');
        const closePopupBtn = document.getElementById('closePopup');
        const popup = document.getElementById('popupCF');
        const overlay = document.getElementById('overlay');




        // Função para abrir o popup e o overlay
        function openPopup() {
            popup.style.display = 'block';
            overlay.style.display = 'block';
        }




        // Função para fechar o popup e o overlay
        function closePopup() {
            popup.style.display = 'none';
            overlay.style.display = 'none';
        }




        // Abre o popup ao clicar no botão "Adicionar Salas"
        openPopupBtn.addEventListener('click', function(event) {
            event.preventDefault(); // Evita que o link redirecione
            openPopup(); // Exibe o popup e o overlay
        });




        // Fecha o popup ao clicar no botão "×"
        closePopupBtn.addEventListener('click', function() {
            closePopup(); // Oculta o popup e o overlay
        });




        // Fecha o popup ao clicar fora do conteúdo
        overlay.addEventListener('click', function() {
            closePopup(); // Oculta o popup e o overlay
        });
    });
</script>


{% endblock %}
