<style>
.rectangle {
    position: relative;
    width: 660px;
    height: 465px;
    border-radius: 15px;
  }
  
  .rectangle .overlap {
    position: absolute;
    width: 917px;
    height: 69px;
    top: 5px;
    left: -128px;
  }
  
  .rectangle .text-wrapper {
    position: absolute;
    width: 917px;
    height: 69px;
    top: 0;
    left: 0;
    font-family: "Poppins-Bold", Helvetica;
    font-weight: 700;
    color: #407DD8;
    font-size: 40px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .rectangle .sair {
    position: absolute;
    width: 34px;
    height: 38px;
    top: 25px;
    left: 728px;
  }
  
  .rectangle .overlap-group {
    position: absolute;
    width: 605px;
    height: 30px;
    top: 103px;
    left: 12px;
  }
  
  .rectangle .div {
    left: 32px;
    position: absolute;
    width: 573px;
    height: 29px;
    top: 1px;
    border-radius: 15px;
    border: 1px solid;
    border-color: #02247B;
  }
  
  .rectangle .text-wrapper-2 {
    position: absolute;
    width: 148px;
    height: 29px;
    top: 0;
    left: 0;
    font-family: "Poppins-Regular", Helvetica;
    font-weight: 400;
    color: #407DD8;
    font-size: 12px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .rectangle .overlap-group-2 {
    position: absolute;
    width: 609px;
    height: 30px;
    top: 174px;
    left: 8px;
  }
  
  .rectangle .div-2 {
    left: 36px;
    position: absolute;
    width: 573px;
    height: 29px;
    top: 1px;
    border-radius: 15px;
    border: 1px solid;
    border-color: var(--variable-collection-azulescuro);
  }
  
  .rectangle .overlap-2 {
    position: absolute;
    width: 573px;
    height: 30px;
    top: 210px;
    left: 44px;
  }
  
  .rectangle .div-3 {
    left: 0;
    position: absolute;
    width: 573px;
    height: 29px;
    top: 1px;
    border-radius: 15px;
    border: 1px solid;
    border-color: var(--variable-collection-azulescuro);
  }
  
  .rectangle .text-wrapper-3 {
    position: absolute;
    width: 148px;
    height: 29px;
    top: 0;
    left: 4px;
    font-family: "Poppins-Regular", Helvetica;
    font-weight: 400;
    color: #407DD8;
    font-size: 12px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .rectangle .overlap-3 {
    position: absolute;
    width: 573px;
    height: 187px;
    top: 247px;
    left: 44px;
    border-radius: 15px;
    border: 1px solid;
    border-color: var();
  }
  
  .rectangle .text-wrapper-4 {
    position: absolute;
    width: 148px;
    height: 29px;
    top: 2px;
    left: -1px;
    font-family: "Poppins-Regular", Helvetica;
    font-weight: 400;
    color: #407DD8;
    font-size: 12px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .rectangle .image {
    position: absolute;
    width: 160px;
    height: 156px;
    top: 19px;
    left: 205px;
    object-fit: cover;
  }
  
  .rectangle .overlap-4 {
    position: absolute;
    width: 609px;
    height: 30px;
    top: 138px;
    left: 8px;
  }
</style>

  
<body>
    <div class="rectangle">
        <div class="overlap">
            <div class="text-wrapper">LOGS</div>
            <button class="sair">X</button>
        </div>
        <div class="overlap-group">
            <div class="div"></div>
            <div class="text-wrapper-2">Nome:</div>
        </div>
        <div class="overlap-group-2">
            <div class="div-2"></div>
            <div class="text-wrapper-2">Ação:</div>
        </div>
        <div class="overlap-2">
            <div class="div-3"></div>
            <div class="text-wrapper-2">Tipo de ferramenta:</div>
        </div>
        <div class="overlap-3">
            <div class="text-wrapper-4">Tipo de ferramenta:</div>
            <img class="image" src="img/image-8.png" />
        </div>
        <div class="overlap-4">
            <div class="div-2"></div>
            <div class="text-wrapper-2">Data:</div>
        </div>
    </div>
</body>