{% extends 'base.html' %}




{% block content %}
{% include 'navbar.html' %}




<style>
    body {
        font-family: Arial, sans-serif;
        padding: 0;
        overflow: auto;
    }

    .tituloSalas {
        display: flex;
        justify-content: center;
        margin-top: 2%;
        margin-right: 18.5%;
        font-size: 40px;
    }




    .txtSalas {
        margin-top: 1%;
        margin-left: 29.1%;
        width: 70%;
        font-size: 20px;
        color: #0000008f;
    }




    .container {
        display: flex;
        flex-wrap: wrap;
        gap: 4%;
        justify-content: flex-start;
        width: 70vw;
        margin-left: 28.4vw;
        box-sizing: border-box;
    }

    .box {
        width: 20vw;
        height: 40vh;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #fff;
        border: 1px solid #ddd;
        border-radius: 15px;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
        margin-top: 2%;
        margin-bottom: 3%;
    }




    .group {
        width: 100%;
        height: 100%;
        color: white;
        position: relative;
    }




    .rectangle,
    .div {
        position: absolute;
        width: 100%;
        left: 0;
        border-radius: 15px;
    }




    .rectangle {
        background-color: #3f7cd7;
        height: 100%;
        box-shadow: 0px 7px 4px #00000040;
    }




    .div {
        height: 124px;
        background-color: #d9d9d9;
        border-radius: 15px 15px 0 0;
        top: 0;
    }




    .text-wrapper,
    .total-de-arm-rios {
        position: absolute;
        width: 100%;
        color: #fff;
        font-family: "Poppins-Regular", Helvetica;
        text-align: center;
    }




    .text-wrapper {
        bottom: 40%;
        font-size: 30px;
        text-transform: capitalize;
    }




    .total-de-arm-rios {
        bottom: 20%;
        font-size: 20px;
        height: 51px;
    }




    .image {
        width: 100%;
        height: 45%;
        object-fit: cover;
        position: absolute;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
    }


    .botaoSalas {
        margin-left: 81.2%;
        top: 15%;
        background-color: #407DD8;
        border-radius: 15px;
        width: 14%;
        padding: 0.3%;
        position: absolute;
        display: flex;
        justify-content: center;
        gap: 10px;
    }




    .botaoSalas a {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: white;
    }




    .botaoSalas:hover {
        cursor: pointer;
    }




    .iconSalas {
        position: relative;
        left: -10px;
        font-size: 24px;
        margin-right: 8px;
    }




    .txt-salas {
        position: relative;
        font-size: 22px;
        right: 10px;
    }




    .containerSala {
        position: fixed;
        top: 50%;
        left: 62.5%;
        transform: translate(-50%, -50%);
        width: 55%;
        padding: 1.5%;
        background-color: #f5f5f5;
        z-index: 1002;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
        border-radius: 15px;
        border: 1.5px solid black;
        display: none;
    }
   




    .tituloSala {
        text-align: center;
        color: #407DD8;
        margin-bottom: 20px;
    }




    .content {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
    }




    .foto {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
    }
   
    .addFoto {
        width: 40%;        
        height: auto; /* Mantém a proporção da imagem */
        margin-bottom: 10px; /* Espaço entre a imagem e o botão */
    }
   
    .addImg {
        position: relative;
        left: -85%;
        margin-top: 10px; /* Espaço acima do botão, se necessário */
        font-size: 1vw;
    }


    .addFoto:hover {
        cursor: pointer;
    }

    .formSalas {
        width: 55%;
    }

    input.form-control {
        font-size: 18px !important;
        color: #999 !important;
        border: 1px solid #8E8080 !important;
        width: 100%;
    }




    input::placeholder {
        font-size: 16px !important;
        color: #999 !important;
        text-align: left;
    }




    .buttonSala {
        width: 100%;
        padding: 10px;
        background-color: #407DD8;
        border-radius: 5px;
        color: white;
        text-align: center;
        margin-top: 15px;
        cursor: pointer;
        border: none;
    }




    .corSala {
        color: #407DD8;
        font-size: 20px;
        margin-top: 2%;
    }


    .closePopup {
        position: absolute;
        top: 10px;
        right: 20px;
        font-size: 50px;
        cursor: pointer;
        color: #407DD8;
    }


    .overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.5); /* Cor preta com opacidade */
        z-index: 1000; /* Abaixo do popup */
        display: none; /* Inicialmente oculto */
    }

    .image {
        position: relative;
        left: 0.0.1%;
        bottom: 9%;
    }

    .boxEditar {
        position: absolute;  
        color: #f5f5f5; 
        font-size: 1.2vw; 
        bottom: 2%;
        left: 6%;
        display: flex;
        align-items: center;
        gap: 20px; /* Espaço entre o ícone e o texto */
        padding: 5px;
        transition: background-color 0.3s ease;
        border-radius: 15px;
    }
    
    .boxEditar:hover {
        background-color: #02247b77;
        border-radius: 15px;
        cursor: pointer;
    }
    
    #iconEditar {
        font-size: 1.2vw;
    }
    
    .boxExcluir {
        position: absolute; 
        color: #f5f5f5; 
        font-size: 1.2vw; 
        bottom: 2%;
        left: 51%;
        display: flex;
        align-items: center;
        gap: 20px; /* Espaço entre o ícone e o texto */
        padding: 5px;
        transition: background-color 0.3s ease;
        border-radius: 15px;
    }
    
    .boxExcluir:hover {
        background-color: #02247b77;
        border-radius: 15px;
        cursor: pointer;
    }
    
    #iconExcluir {
        font-size: 1.2vw;
    }
    
    

    @media(min-width: 1300px) and (max-width: 1500px) and (min-height: 598px) and (max-height:900px) {
       
        .tituloSalas {
            position: relative;
            left: 3.4%;
        }

        .txt-salas {
            font-size: 20px;
        }

        .iconSalas {
            font-size: 20px;
        }

        .container {
            margin-left: 28.2vw;
        }

        .box {
            width: 20.2vw;
            height: 43vh;
        }

        body {
            margin-bottom: 2%;
        }

        .botaoSalas {
            position: absolute;
            top: 15%;
        }

        .image {
            position: relative;
            left: -0.0.8%;
            bottom: 9.8%;
        }

        .text-wrapper {
            font-size: 24px;
        }

        .total-de-arm-rios {
            font-size: 18px;
        }

    }




</style>




<h1 class="tituloSalas">Gerenciamento de Salas</h1>


<div class="container">
    {% for sala in salas %}
        <div class="box">
            <div class="group">
                <a href="{{ url_for('armarios', sala_id=sala.id_salas) }}">
                    <div class="rectangle"></div>
                    <div class="div"></div>
                    <img class="image" src="{{ url_for('uploaded_file', filename=sala.foto_sala) if sala.foto_sala else url_for('static', filename='imgs/defaultImage.jpg') }}" />
                    <div class="text-wrapper">{{ sala.nome_sala }}</div>
                    <div class="total-de-arm-rios">
                        Total de armários:<br />
                        {{ armarios_por_sala[sala.id_salas] }}
                    </div>
                </a>
                    <a class="boxEditar" href="">
                        <span><i id="iconEditar" class="bi bi-pencil-square"></i></span>
                        <span>Editar</span>
                    </a>
                    <a class="boxExcluir" href="">
                        <span><i id="iconExcluir" class="bi bi-trash"></i></span>
                        <span>Excluir</span>
                    </a>
            </div>
        </div>
    {% endfor %}
</div>

<div class="overlay" id="overlay"></div>



<script>
    document.addEventListener('DOMContentLoaded', function () {
        const openPopupBtn = document.getElementById('openPopup');
        const closePopupBtn = document.getElementById('closePopup');
        const popup = document.getElementById('popupSala');
        const overlay = document.getElementById('overlay');




        // Função para abrir o popup e o overlay
        function openPopup() {
            popup.style.display = 'block';
            overlay.style.display = 'block';
        }




        // Função para fechar o popup e o overlay
        function closePopup() {
            popup.style.display = 'none';
            overlay.style.display = 'none';
        }




        // Abre o popup ao clicar no botão "Adicionar Salas"
        openPopupBtn.addEventListener('click', function(event) {
            event.preventDefault(); // Evita que o link redirecione
            openPopup(); // Exibe o popup e o overlay
        });




        // Fecha o popup ao clicar no botão "×"
        closePopupBtn.addEventListener('click', function() {
            closePopup(); // Oculta o popup e o overlay
        });




        // Fecha o popup ao clicar fora do conteúdo
        overlay.addEventListener('click', function() {
            closePopup(); // Oculta o popup e o overlay
        });
    });
</script>


{% endblock %}
