{% extends 'base.html' %}

{% block content %}
{% include 'navbar.html' %}

<style>

    html {
        font-size: 62.5%;
    }

    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }


    main {
        margin-left: 27.8%;
        padding: 20px;
        box-sizing: border-box;
    }



</style>

<main>

    <h1>Edit Profile</h1>

    <section class="section_container">

        <div class="container">

            <div class="edit_photo">
                <img src="https://www.google.com/imgres?q=homem%20barbudo&imgurl=https%3A%2F%2Fthumbs.dreamstime.com%2Fb%2Fhomem-barbudo-bonito-com-barba-longa-e-cinza-moustacheon-214660937.jpg&imgrefurl=https%3A%2F%2Fpt.dreamstime.com%2Fhomem-barbudo-bonito-com-barba-longa-e-cinza-moustacheon-image214660937&docid=IyOiai9BMtmd0M&tbnid=ymoeHD4HhdJuoM&vet=12ahUKEwiasuuV26WJAxXHKLkGHYTyDOUQM3oECBoQAA..i&w=600&h=900&hcb=2&ved=2ahUKEwiasuuV26WJAxXHKLkGHYTyDOUQM3oECBoQAA" alt="" class="profile-img">
                <a href="#" class="send_photo">enviar nova foto</a>
                <p>recomendado pelo menos 80x80 px. formatos permitidos: JPG, PNG, JPEG, JFIF, GIF</p>
            </div>

            <div class="personal_info">

                <form action="">

                    <label for="Full_Name">nome completo</label>
                    <input type="text" id="Full_Name" name="full_name" value="Seu Nome Aqui">

                    <label for="Email">email</label>
                    <input type="email" id="Email" name="email" value="Seu Email aqui">

                    <label for="Senha_atual">senha atual</label>
                    <input type="password" id="Senha_atual" name="senha_atual" value="Sua Senha atual">

                    <label for="Senha_nova">senha nova</label>
                    <input type="password" id="Senha_nova" name="senha_nova" value="Senha nova">

                    <label for="Repetir_Senha"></label>
                    <input type="password" id="Repetir_Senha" name="repetir_senha_nova" value="Repetir a nova senha">

                    <input type="submit" value="Salvar mudanças">

                </form>

            </div>

        </div>


    </section>

</main>


{% endblock %}