{% extends 'base.html' %}

{% block content %}
{% include 'navbar.html' %}

<style>
    .tituloSalas {
        display: flex;
        justify-content:  center;
        margin-top: 2%;
        margin-right: 37%;
        font-size: 2vw;
    }

    .txtSalas {
        display: flex;
        justify-content:  center;
        margin-top: 1%;
        margin-left: 6.9%;
        font-size: 25px;
        color: #0000008f;
    }
</style>

<h1 class="tituloSalas">Salas</h1>
<p class="txtSalas">Aqui você consegue ver as salas existentes, e clicar nelas para verificar os armarios.</p>

{% endblock %}